@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none; }

header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  border-bottom: solid 4px #736cdc; }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    header div img {
      width: 140px; }
    header div nav {
      padding-left: 100px; }
      header div nav ul {
        display: flex; }
        header div nav ul li {
          list-style: none; }
          header div nav ul li a {
            text-decoration: none;
            color: white;
            padding: 0px 5px 0px 5px;
            font-size: 1.4em; }
            header div nav ul li a:hover {
              color: #736cdc; }

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer img {
    max-width: 140px; }
  footer p {
    color: white;
    font-size: 1.2em; }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    footer div p {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center; }

.hero1 {
  background-image: url(https://images.pexels.com/photos/6899805/pexels-photo-6899805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 220px 20px 220px 20px; }
    .hero1 div h1 {
      color: white;
      font-size: 6em;
      text-align: center; }
    .hero1 div h2 {
      color: white;
      font-size: 3em;
      text-align: center; }

.productos {
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(54, 54, 54, 0.941614) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px; }
  .productos h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 3em; }
  .productos div {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap; }
    .productos div .tarjeta {
      margin: 10px;
      border: none;
      transition: all 0.5s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; }
      .productos div .tarjeta:hover {
        border-bottom: 5px solid #736cdc;
        transform: translateY(-5px); }
      .productos div .tarjeta .pie-tarjeta {
        background-color: black;
        display: flex;
        justify-content: center;
        max-width: none; }
        .productos div .tarjeta .pie-tarjeta h3 {
          color: white;
          font-size: 1.8em; }

.boton, .boton--productos, .boton--tarjeta {
  font-size: 2em;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center; }

.boton--productos {
  background-color: rgba(98, 33, 100, 0.76);
  border: none;
  color: white;
  margin-top: 20px; }

.boton--tarjeta {
  font-size: 1.4em;
  background-color: blueviolet;
  border: none; }
  .boton--tarjeta:hover {
    background-color: #503768; }

.boton, .boton--productos, .boton--tarjeta {
  font-size: 2em;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center; }

.boton--productos {
  background-color: rgba(98, 33, 100, 0.76);
  border: none;
  color: white;
  margin-top: 20px; }

.boton--tarjeta {
  font-size: 1.4em;
  background-color: blueviolet;
  border: none; }
  .boton--tarjeta:hover {
    background-color: #503768; }

.productos2 {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .productos2 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 20px;
    padding-top: 10px; }
  .productos2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: wheat; }
    .productos2 div .tar {
      margin: 20px;
      background-color: black;
      border: none;
      display: flex; }
      .productos2 div .tar .tar2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

.boton, .boton--productos, .boton--tarjeta {
  font-size: 2em;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center; }

.boton--productos {
  background-color: rgba(98, 33, 100, 0.76);
  border: none;
  color: white;
  margin-top: 20px; }

.boton--tarjeta {
  font-size: 1.4em;
  background-color: blueviolet;
  border: none; }
  .boton--tarjeta:hover {
    background-color: #503768; }

.contacto {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; }
  .contacto form {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    background-color: #023047;
    border-radius: 20px;
    padding-bottom: 20px; }
    .contacto form h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      font-size: 3em;
      padding: 20px;
      padding-bottom: 0; }
    .contacto form div {
      margin: 10px;
      display: flex;
      flex-direction: column;
      width: 300px;
      transition: all 0.5s; }
      .contacto form div:hover {
        width: 320px; }
      .contacto form div label {
        font-size: 1.4em;
        color: #a762e7;
        text-align: center; }
      .contacto form div input {
        background-color: #023047;
        border-top: none;
        border-left: none;
        border-right: none;
        color: white;
        border-bottom: solid 2px #d3b0f5;
        transition: all 0.5s; }
