$tamaño_a:1.4em;
$tamaño_p:1.2em;
$tamo1:6em;
$tamo2:3em;
$tamo3:1.8em;

@mixin titulos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: $tamo2;
    padding: 20px;
    
}

$colores:(
    blanco:white,
    fondo-form:#023047,
    letras-lab:rgb(167, 98, 231),
)